/* -------------------------------------------------------------------------- */
/*                               color palettes                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------ pastel greens ----------------------------- */
/* Color Theme Swatches in Hex */
.Money-1-hex { color: #C3F5FD; }
.Money-2-hex { color: #AFE3DC; }
.Money-3-hex { color: #CCF9E6; }
.Money-4-hex { color: #AFE3BE; }
.Money-5-hex { color: #C3FDC4; }
/* Dark Money Color Swatches in Hex*/
/* Color Theme Swatches in Hex */
.Dark-Money-1-hex { color: #67C79F; }
.Dark-Money-2-hex { color: #769186; }
.Dark-Money-3-hex { color: #407A62; }
.Dark-Money-4-hex { color: #A3C7B8; }
.Dark-Money-5-hex { color: #254739; }
/* Dark Red Color Theme in Hex */
/* Color Theme Swatches in Hex */
.Dark-Red-1-hex { color: #471E17; }
.Dark-Red-2-hex { color: #D08D81; }
.Dark-Red-3-hex { color: #C75440; }
.Dark-Red-4-hex { color: #47302C; }
.Dark-Red-5-hex { color: #943E2F; }
/* Light Red Color Theme is Hex*/
/* Color Theme Swatches in Hex */
.Dark-Red-1-hex { color: #7A6864; }
.Dark-Red-2-hex { color: #FB9482; }
.Dark-Red-3-hex { color: #FAD4CD; }
.Dark-Red-4-hex { color: #7A4840; }
.Dark-Red-5-hex { color: #C7A8A3; }


body{
    background: white;
}

#title {
    font-family: 'Baloo Bhai 2', cursive;
    position: absolute;
    z-index: 20;
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(66, 118, 66);
    background: rgb(210, 242, 210);
}

#image {
    width: 100vw;
    overflow: hidden;
    height: 200px;
    padding: 0px;
}

img {
    position: static;
    top: -50px;
    width: 700px;
}

.container{
    background: grey;
}

#title-text {
    left: -5px;
    top: 32px;
    position: relative;
}

a {
    font-size: 3rem;
  }

.invalid{
    background: rgb(235, 174, 174);
    box-shadow: 0px 0px 10px 1px rgb(255, 65, 65);
}

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5{
    font-family: 'Baloo Bhai 2', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.cent {
    color: rgb(162, 109, 45);
    font-size: 50px;
}

/* ---------------------------- PLACEHOLDER TEXT ---------------------------- */
::placeholder {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

button {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                               ELEMENT SPACING                              */
/* -------------------------------------------------------------------------- */
button{
    margin: 10px 0;
}

#howto {
    margin-top: 30px;
}

input{
    margin: 0px 0px 10px 0px;
}

/* -------------------------------------------------------------------------- */
/*                               POPOVER STYLING                              */
/* -------------------------------------------------------------------------- */
.popover{
    color: rgb(144, 227, 240);
    border-radius: 10px;
    border: 1px solid white;
}
.popover-header{
    background: #ff3333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.popover-body{
    background: rgb(201, 201, 201);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 15vh;
    }

    #image{
        height: 20vh;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    #image{
        height: 20vh;
    }
}



/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 10vh;
        object-fit: cover;
    }
    
    
}

/* Smartphones (portrait) ----------- */
/* Galaxy S5 ------------------------ */
@media only screen 
and (max-width : 360px) {

    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    #title-text{
        top: 45px;
        left: 1px;
    }

    #title-text > h1 {
        font-size: 3rem;
    }

    .cent {
        font-size: 4rem;
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    #carousel-row{
        height:300px;
    }
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 20vh;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 25vh;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 20vh;
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 15vh;
    }
    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 200px;
        height: 180px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    img{
        position: static;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}