/* -------------------------------------------------------------------------- */
/*                               color palettes                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------ pastel greens ----------------------------- */
/* Color Theme Swatches in Hex */
.Money-1-hex { color: #C3F5FD; }
.Money-2-hex { color: #AFE3DC; }
.Money-3-hex { color: #CCF9E6; }
.Money-4-hex { color: #AFE3BE; }
.Money-5-hex { color: #C3FDC4; }
/* Dark Money Color Swatches in Hex*/
/* Color Theme Swatches in Hex */
.Dark-Money-1-hex { color: #67C79F; }
.Dark-Money-2-hex { color: #769186; }
.Dark-Money-3-hex { color: #407A62; }
.Dark-Money-4-hex { color: #A3C7B8; }
.Dark-Money-5-hex { color: #254739; }
/* Dark Red Color Theme in Hex */
/* Color Theme Swatches in Hex */
.Dark-Red-1-hex { color: #471E17; }
.Dark-Red-2-hex { color: #D08D81; }
.Dark-Red-3-hex { color: #C75440; }
.Dark-Red-4-hex { color: #47302C; }
.Dark-Red-5-hex { color: #943E2F; }
/* Light Red Color Theme is Hex*/
/* Color Theme Swatches in Hex */
.Dark-Red-1-hex { color: #7A6864; }
.Dark-Red-2-hex { color: #FB9482; }
.Dark-Red-3-hex { color: #FAD4CD; }
.Dark-Red-4-hex { color: #7A4840; }
.Dark-Red-5-hex { color: #C7A8A3; }


body{
    background: rgb(199,84,64);
    background: linear-gradient(180deg, rgba(199,84,64,1) 0%, rgba(37,71,57,1) 100%);
}


#title {
    font-family: 'Baloo Bhai 2', cursive;
    position: absolute;
    z-index: 20;
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(66, 118, 66);
    background: rgb(210, 242, 210);
    box-shadow: 0px 15px 15px 3px;
}

#image {
    width: 100vw;
    overflow: hidden;
    height: 200px;
    padding: 0px;
}

img {
    position: static;
    top: -50px;
    width: 700px;
}

.container{
    background: rgb(232, 232, 232);
    box-shadow: 0px 0px 20px 5px;
}

.container.main{
    padding-bottom: 40px;
}


.required{
    background: #769186;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #254739;
    padding-bottom: 20px;
}

.converted{
    background: #769186;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #254739;
    padding-bottom: 20px;
    padding-top:20px;
}

#title-text {
    left: -5px;
    top: 32px;
    position: relative;
}

a {
    font-size: 3rem;
  }

.invalid{
    background: rgb(235, 174, 174);
    box-shadow: 0px 0px 10px 1px rgb(255, 65, 65);
}

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5{
    font-family: 'Baloo Bhai 2', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

h3{
    background: #254739;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
    border:2px solid #A3C7B8; 
    padding: 4px;
    color: #AFE3DC;
}

p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.cent {
    color: rgb(162, 109, 45);
    font-size: 50px;
}


/* ---------------------------- PLACEHOLDER TEXT ---------------------------- */
::placeholder {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

button {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

/* -------------------------------------------------------------------------- */
/*                               ELEMENT SPACING                              */
/* -------------------------------------------------------------------------- */
button{
    margin: 10px 0;
    border-radius: 20px; 
}

#employee-info{
    margin-bottom: 40px;
}

input{
    margin: 0px 0px 10px 0px;
}

/* -------------------------------------------------------------------------- */
/*                               BUTTON STYLING                               */
/* -------------------------------------------------------------------------- */


#howto {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 3px solid #D08D81;
    background: #C75440;
    width: 125px;
    height: 50px;
    font-size: 20px;
}

#convert {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 3px solid #D08D81;
    background: #C75440;
    width: 125px;
    height: 50px;
    font-size: 20px;
}

#example {
    border-radius: 20px;
    border: 3px solid #D08D81;
    background: #C75440;
}

.hover{
    border-radius: 10px !important;
    border: 3px solid #67C79F !important;
    background: #254739 !important;
}

.clicked{
    border-radius: 15px !important;
    border: 5px solid #D08D81 !important;
    background: #C75440 !important;
}
/* -------------------------------------------------------------------------- */
/*                               POPOVER STYLING                              */
/* -------------------------------------------------------------------------- */
.popover{
    color: #943E2F;
    border-radius: 15px;
    border: solid 5px #943E2F;
}
.popover-header{
    border: solid 0px #943E2F;
    background: #C75440;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}
.popover-body{
    background: #FAD4CD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 15vh;
    }

    #image{
        height: 20vh;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    #image{
        height: 20vh;
    }
}



/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 10vh;
        object-fit: cover;
    }
    
    
}

/* Smartphones (portrait) ----------- */
/* Galaxy S5 ------------------------ */
@media only screen 
and (max-width : 360px) {

    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    #title-text{
        top: 45px;
        left: 1px;
    }

    #title-text > h1 {
        font-size: 3rem;
    }

    .cent {
        font-size: 4rem;
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    #carousel-row{
        height:300px;
    }
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 20vh;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 25vh;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #carousel-container {
        min-width: 100%;
        margin: 0;
        padding: 0;
        height: 20vh;
    }

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

    #title {
        font-family: 'Baloo Bhai 2', cursive;
        position: absolute;
        z-index: 20;
        background: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid rgb(66, 118, 66);
        background: rgb(210, 242, 210);
    }

    img{
        position: static;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

#carousel-row{
    box-shadow: 0px 0px 20px 5px;
}

.fa {
    color: white;
    width: 50px;
}

.social-hover{
    color: rgb(176, 176, 176);
}

footer {
    color: white;
}

#hr {
    background: white;
    margin-top: 60xpx;
}

.d-inline{
    padding: 0;
}

.col-12.social{
    padding-bottom: 20px;
}

.row.how-to{
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgb(58, 58, 58) 0, #dedede 20px, #e6e6e6 100%);
}

.form-control:focus {
    border-color: rgb(227, 100, 100);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

.btn:focus{
    border-color: rgb(227, 100, 100);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input[type=text] {
    color: rgb(227, 100, 100)!important;
}

/* -------------------------------------------------------------------------- */
/*                                modal styling                               */
/* -------------------------------------------------------------------------- */

.modal-header{
    background: #AFE3BE
}

.modal-body {
    background: #CCF9E6;
}

.modal-footer{
    background: #AFE3DC;
}

h5.modal-title{
    font-size: 2rem;
}

.modal-footer > button {
    border-radius: 20px;
    border: 3px solid #D08D81;
    background: #C75440;
}