/* -------------------------------------------------------------------------- */
/*                               color palettes                               */
/* -------------------------------------------------------------------------- */


body{
    background: grey;
}

#title {
    font-family: 'Baloo Bhai 2', cursive;
    background: green;
}

#image {
    width: 100vw;
    overflow: hidden;
    height: 200px;
    padding: 0px;
}

img {
    position: static;
    top: -50px;
    width: 700px;
}

.container{
    background: grey;
}
a {
    font-size: 3rem;
  }

.invalid{
    background: rgb(235, 174, 174);
    box-shadow: 0px 0px 10px 1px rgb(255, 65, 65);
}

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5{
    font-family: 'Baloo Bhai 2', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* ---------------------------- PLACEHOLDER TEXT ---------------------------- */
::placeholder {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

button {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                               ELEMENT SPACING                              */
/* -------------------------------------------------------------------------- */
button{
    margin: 10px 0;
}

input{
    margin: 0px 0px 10px 0px;
}

/* -------------------------------------------------------------------------- */
/*                               POPOVER STYLING                              */
/* -------------------------------------------------------------------------- */
.popover{
    color: rgb(144, 227, 240);
    border-radius: 10px;
    border: 1px solid white;
}
.popover-header{
    background: #ff3333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.popover-body{
    background: rgb(201, 201, 201);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 15vh;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }

    #image{
        height: 20vh;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    img{
        position: static;
        overflow: hidden;
        width: 100vw;
        height: 10vh;
        object-fit: cover;
    }
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}